<div class="main-wrapper" id="category-focus">
    <div class="main-head">
        <h1 class="title">Nos Utilisateurs</h1>
    </div>
    <div class="main-content-category">
        <% @users.reverse_each do |user|%>
            <% if user.id != current_user.id%>
                <%if user.user_game_stat != nil%>
            <div class="cell inset">
                <div class="head">
                    <h4><%= user.summoner_name%></h4>
                    <h5><%= user.user_game_stat.level%></h5>
                    <img src=<%="https://ddragon.leagueoflegends.com/cdn/11.12.1/img/profileicon/#{user.icon_profile_id}.png"%>>
                </div>
                <div class="content">
                    <p><%=user.primary_role%></p>
                    <p><%=user.secondary_role%></p>
                    <p><%=user.tag_list%></p>
                </div>
            </div>
                <%end%>
            <%end%>
        <%end%>
    </div>
</div>