
<div class="edit">
 
<%= form_with(model: user_game_stat, local: true) do |form| %>
  <% if user_game_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_game_stat.errors.count, "error") %> prohibited this user_game_stat from being saved:</h2>

      <ul>
      <% user_game_stat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
 
      <div class="div2">    
          <%= form.label :Niveau %>
          <%= form.number_field :level, class:"textedit" %>
        </div>
       
      <div class="div3">
          <%= form.label :description_ %>
          <%= form.text_field :description, class:"textedit"%>
       </div>  
       <div class="div3"> 
      <div class="fieldedit">
          <%= form.label :primary_role %><br>
          <%= form.select :desired_attribute, ["Top-lane", "Mid-lane", "Bot-lane Support", "Bot-lane ADC", "Jungle"]%>
      </div>
      </div>
      <div class="div4">
      <div class="fieldedit">
            <%= form.label :secondary_role %><br>
            <%= form.select :desired_attribute, ["Top-lane", "Mid-lane", "Bot-lane Support", "Bot-lane ADC", "Jungle"]%>
        </div>
        </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
</div>
</div>




