
<%= form_with(model: user_game_stat, local: true) do |form| %>
  <% if user_game_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_game_stat.errors.count, "error") %> prohibited this user_game_stat from being saved:</h2>

      <ul>
      <% user_game_stat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="fieldregister">
  <div class="fieldstyle inset">
        <div class="field">
          <%= form.label :level %>
          <%= form.number_field :level %>
        </div>

<div class="fieldregister">
  <div class="fieldstyle inset">
        <div class="field">
          <%= form.label :description %>
          <%= form.text_field :description%>
        </div>
<div class="fieldregister">
  <div class="fieldstyle inset">
          <div class="field">
          <%= form.label :primary_role %>
          <%= form.select :desired_attribute, ["Top-lane", "Mid-lane", "Bot-lane Support", "Bot-lane ADC", "Jungle"]%>

        </div>

          <div class="field">
          <div class="fieldregister">
  <div class="fieldstyle inset">
          <%= form.label :secondary_role %>
          <%= form.select :desired_attribute, ["Top-lane", "Mid-lane", "Bot-lane Support", "Bot-lane ADC", "Jungle"]%>
        </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

