
<p><>







<% @conversations.each do |conversation| %>
  
            <div>
              <%if conversation.participant_a.id != current_user.id && conversation.participant_b.id == current_user.id%>
              <p><img src="https://pbs.twimg.com/profile_images/1401562839614210052/yo9BeNMD_400x400.jpg"></p> 
              <p> <%=conversation.participant_a.summoner_name%> </p>
              <p><%= link_to 'Show', conversation %></p>
              <p><%= link_to 'Destroy', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            
              <%elsif conversation.participant_b.id != current_user.id && conversation.participant_a.id == current_user.id%>
              <p><img src="https://pbs.twimg.com/profile_images/1401562839614210052/yo9BeNMD_400x400.jpg"></p> 
              <p> <%=conversation.participant_b.summoner_name%> </p>
              <p><%= link_to 'Show', conversation %></p>
              <p><%= link_to 'Destroy', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></p>
              
              <% else%>
              <p>ce n'est pas ta discussion ! </p>
              
              <%end%>
              
            </div>

  <% end %>