<div class="edit">

  <div class="div1">
    <h3><img src="https://i.pinimg.com/originals/2c/54/06/2c5406a83ab2257df1c57b52945e1c3c.jpg" class="pplol"><br><%=current_user.summoner_name%> </h3>
  </div>

  3 <%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> interdit à cet utilisateur d'être enregistré:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>   

      <div class="field">
        <%= form.label :summoner_name %>
        <%= form.text_field :summoner_name, class:"textedit" %>
      </div>
      
    <div class="actions">
    <%= form.submit "Test", class:"input-send" %>
  </div>
  
  </div>
 
<% end %>
 </div>

<%= render 'user_game_stats/form', user_game_stat: @user_game_stat%>





  
