    <div class="container">


        <nav>

            <div class="navbar-info">

                <div class="container-icons">
                    <svg id="icon-home" class="icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Iconly/Light/Home</title>
                        <g id="Iconly/Light/Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                            <g id="Home" transform="translate(2.500000, 2.000000)" stroke="var(--medium-grey-color)" stroke-width="1.5">
                                <path d="M6.65721519,18.7714023 L6.65721519,15.70467 C6.65719744,14.9246392 7.29311743,14.2908272 8.08101266,14.2855921 L10.9670886,14.2855921 C11.7587434,14.2855921 12.4005063,14.9209349 12.4005063,15.70467 L12.4005063,15.70467 L12.4005063,18.7809263 C12.4003226,19.4432001 12.9342557,19.984478 13.603038,20 L15.5270886,20 C17.4451246,20 19,18.4606794 19,16.5618312 L19,16.5618312 L19,7.8378351 C18.9897577,7.09082692 18.6354747,6.38934919 18.0379747,5.93303245 L11.4577215,0.685301154 C10.3049347,-0.228433718 8.66620456,-0.228433718 7.51341772,0.685301154 L0.962025316,5.94255646 C0.362258604,6.39702249 0.00738668938,7.09966612 0,7.84735911 L0,16.5618312 C0,18.4606794 1.55487539,20 3.47291139,20 L5.39696203,20 C6.08235439,20 6.63797468,19.4499381 6.63797468,18.7714023 L6.63797468,18.7714023"></path>
                            </g>
                        </g>
                    </svg>
                </div>

            </div>

            <div class="navbar-info">
                <ul class="navbar-icons">
                    <li class="container-icons">
                        <svg id="icon-arrow" class="icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>Iconly/Light/Arrow - Right Square</title>
                            <g id="Iconly/Light/Arrow---Right-Square" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                <g id="Arrow---Right-Square" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) translate(2.000000, 2.000000)" stroke="var(--medium-grey-color)" stroke-width="1.5">
                                    <path d="M5.6659,19.25 L14.3349,19.25 C17.3549,19.25 19.2499,17.111 19.2499,14.084 L19.2499,5.916 C19.2499,2.889 17.3649,0.75 14.3349,0.75 L5.6659,0.75 C2.6359,0.75 0.7499,2.889 0.7499,5.916 L0.7499,14.084 C0.7499,17.111 2.6359,19.25 5.6659,19.25 Z" id="Stroke-1"></path>
                                    <line x1="9.9999" y1="14.086" x2="9.9999" y2="5.914" id="Stroke-3"></line>
                                    <polyline id="Stroke-5" points="13.7479 10.3223 9.9999 14.0863 6.2519 10.3223"></polyline>
                                </g>
                            </g>
                        </svg>
                    </li>
                    <li class="container-icons">
                        <svg id="icon-message" class="icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>Iconly/Light/Chat</title>
                            <g id="Iconly/Light/Chat" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                <g id="Chat" transform="translate(2.000000, 2.000000)" stroke="var(--medium-grey-color)">
                                    <path d="M17.0713569,17.0698633 C14.0152073,20.1263497 9.48977439,20.7866955 5.78641655,19.0740178 C5.23970647,18.8539025 4.7914846,18.6760012 4.36537232,18.6760012 C3.17848885,18.6830368 1.70116564,19.8338678 0.933359565,19.0669822 C0.165553489,18.2990915 1.3172626,16.8206004 1.3172626,15.6265504 C1.3172626,15.2003912 1.1464157,14.7601607 0.926324692,14.2123853 C-0.787169233,10.5096244 -0.125891225,5.98268764 2.93025835,2.92720636 C6.8315976,-0.975567922 13.1700176,-0.975567922 17.0713569,2.92620127 C20.979731,6.83500611 20.9726961,13.1680941 17.0713569,17.0698633 Z" id="Stroke-4" stroke-width="1.5"></path>
                                    <line x1="13.9394" y1="10.413" x2="13.9484" y2="10.413" id="Stroke-11" stroke-width="2"></line>
                                    <line x1="9.9304" y1="10.413" x2="9.9394" y2="10.413" id="Stroke-13" stroke-width="2"></line>
                                    <line x1="5.9214" y1="10.413" x2="5.9304" y2="10.413" id="Stroke-15" stroke-width="2"></line>
                                </g>
                            </g>
                        </svg>
                    </li>
                    <li class="container-icons">
                        <svg id="icon-category" class="icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>Iconly/Light/Category</title>
                            <g id="Iconly/Light/Category" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                <g id="Category" transform="translate(2.999141, 3.000000)" stroke="var(--medium-grey-color)" stroke-width="1.5">
                                    <path d="M0.000858865205,3.5 C0.000858865205,0.874787053 0.0289681101,0 3.50085887,0 C6.9727494,0 7.00085887,0.874787053 7.00085887,3.5 C7.00085887,6.12521295 7.01193168,7 3.50085887,7 C-0.010214169,7 0.000858865205,6.12521295 0.000858865205,3.5 Z" id="Stroke-1"></path>
                                    <path d="M11.0008589,3.5 C11.0008589,0.874787053 11.0289681,0 14.5008589,0 C17.9727494,0 18.0008589,0.874787053 18.0008589,3.5 C18.0008589,6.12521295 18.0119317,7 14.5008589,7 C10.9897858,7 11.0008589,6.12521295 11.0008589,3.5 Z" id="Stroke-3"></path>
                                    <path d="M0.000858865205,14.5 C0.000858865205,11.8747871 0.0289681101,11 3.50085887,11 C6.9727494,11 7.00085887,11.8747871 7.00085887,14.5 C7.00085887,17.1252129 7.01193168,18 3.50085887,18 C-0.010214169,18 0.000858865205,17.1252129 0.000858865205,14.5 Z" id="Stroke-5"></path>
                                    <path d="M11.0008589,14.5 C11.0008589,11.8747871 11.0289681,11 14.5008589,11 C17.9727494,11 18.0008589,11.8747871 18.0008589,14.5 C18.0008589,17.1252129 18.0119317,18 14.5008589,18 C10.9897858,18 11.0008589,17.1252129 11.0008589,14.5 Z" id="Stroke-7"></path>
                                </g>
                            </g>
                        </svg>
                    </li>
                </ul>
            </div>

            <div class="navbar-info">

                <div class="container-icons">
                    <svg id="icon-discovery" class="icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Iconly/Light/Discovery</title>
                        <g id="Iconly/Light/Discovery" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                            <g id="Discovery" transform="translate(2.000000, 2.000000)" stroke="var(--medium-grey-color)" stroke-width="1.5">
                                <polygon id="Path_33947" points="6.27002291 12.9519451 7.86270027 7.86270027 12.9519451 6.27002291 11.3592678 11.3592678"></polygon>
                                <circle id="Ellipse_738" cx="9.61098403" cy="9.61098403" r="9.61098403"></circle>
                            </g>
                        </g>
                    </svg>
                </div>

            </div>

        </nav>




        <main>

            <div class="main-wrapper">

                <div class="main-head">
                    <h1 class="title">Jungler</h1>
                </div>

                <div class="main-content">
                    <div class="div1"></div>
                    <div class="div2"></div>
                    <div class="div3"></div>
                    <div class="div4"></div>
                    <div class="div5"></div>
                    <div class="div6"></div>
                    <div class="div7"></div>
                    <div class="div8"></div>
                    <div class="div9"></div>
                    <div class="div10"></div>
                    <div class="div11"></div>
                    <div class="div12"></div>
                    <div class="div13"></div>
                    <div class="div14"></div>
                    <div class="div15"></div>                
                </div>

                <div class="swipe-wrapper">
                    <div class="swipe-cards"><h1><%= render 'swipe_card'%></h1></div>
                </div>


              
            </div>

        </main>




        <aside>

            <div class="aside-info">
                <ul class="aside-icons">
                    <li class="container-icons">
                        <svg id="icon-notification" class="icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>Iconly/Light/Notification</title>
                            <g id="Iconly/Light/Notification" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                <g id="Notification" transform="translate(3.500000, 2.000000)" stroke="var(--medium-grey-color)" stroke-width="1.5">
                                    <path d="M8.5,15.8476424 C14.13923,15.8476424 16.7480515,15.1242108 17,12.220506 C17,9.31879687 15.1811526,9.50539234 15.1811526,5.94511102 C15.1811526,3.16414015 12.5452291,-1.86517468e-14 8.5,-1.86517468e-14 C4.4547709,-1.86517468e-14 1.81884743,3.16414015 1.81884743,5.94511102 C1.81884743,9.50539234 0,9.31879687 0,12.220506 C0.252952291,15.135187 2.86177374,15.8476424 8.5,15.8476424 Z" id="Stroke-1"></path>
                                    <path d="M10.8887931,18.8572176 C9.52465753,20.3719337 7.3966462,20.3898948 6.0194615,18.8572176" id="Stroke-3"></path>
                                </g>
                            </g>
                        </svg>
                    </li>
                    <li class="container-icons">
                        <svg id="icon-profile" class="icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>Iconly/Light/Profile</title>
                            <g id="Iconly/Light/Profile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                <g id="Profile" transform="translate(4.814286, 2.814476)" stroke="var(--medium-grey-color)">
                                    <path d="M7.17047619,12.531714 C3.30285714,12.531714 -4.08562073e-14,13.1164759 -4.08562073e-14,15.4583807 C-4.08562073e-14,17.8002854 3.28190476,18.4059997 7.17047619,18.4059997 C11.0380952,18.4059997 14.34,17.8202854 14.34,15.479333 C14.34,13.1383807 11.0590476,12.531714 7.17047619,12.531714 Z" id="Stroke-1" stroke-width="1.5"></path>
                                    <path d="M7.17047634,9.19142857 C9.70857158,9.19142857 11.7657144,7.13333333 11.7657144,4.5952381 C11.7657144,2.05714286 9.70857158,-5.32907052e-15 7.17047634,-5.32907052e-15 C4.6323811,-5.32907052e-15 2.574259,2.05714286 2.574259,4.5952381 C2.56571443,7.1247619 4.60952396,9.18285714 7.13809539,9.19142857 L7.17047634,9.19142857 Z" id="Stroke-3" stroke-width="1.42857143"></path>
                                </g>
                            </g>
                        </svg>
                    </li>
                </ul>
            </div>

          



         <div class="aside-container">
            <div class="aside-content">
               
            
                    <div class="notification-container">
                        <% @conversations.each do |conversation| %>
                            <%if conversation.participant_a.id != current_user.id && conversation.participant_b.id == current_user.id%>
                                <div class="aside-grid">
                                    <p> <img src="https://i.pinimg.com/originals/2c/54/06/2c5406a83ab2257df1c57b52945e1c3c.jpg" class="ppuser"><p  class="sumsname"<%=conversation.participant_a.summoner_name%> </p>
                                    <p class="btnshow"><%= link_to 'Show', conversation %></p>
                                    <p class="btndestroy"><%= link_to 'Destroy', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></p>
                                 </div>
                            <%elsif conversation.participant_b.id != current_user.id && conversation.participant_a.id == current_user.id%>
                                <div class="aside-grid">
                                    <p class="sumsname"> <img src="https://i.pinimg.com/originals/2c/54/06/2c5406a83ab2257df1c57b52945e1c3c.jpg" class="ppuser"> <%=conversation.participant_b.summoner_name%> </p>
                                    <p class="btnshow"><%= link_to 'Show', conversation %></p>
                                    <p class="btndestroy"><%= link_to 'Destroy', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></p>
                                </div>  
             
                            <%end%>
              
                     <% end %>

                    </div>
                    
                    
                </div>
           </div>
 

                <div class="aside-fixed-bottom">

                    <div class="user-general">
                        <div class="user-wrapper">
                            <div class="user-status"></div>
                            <h3 class="user-name">Cipe and Senna</h3>
                        </div>
                    </div>

                </div>

            </div>

        </aside>
    

    </div>
    

  <%=render 'conversations' %>