<section id="template">
<div class="card-container">
	<span class="pro">PRO</span>
	<img class="round" src="https://i.pinimg.com/originals/2c/54/06/2c5406a83ab2257df1c57b52945e1c3c.jpg" alt="user" />
	<h3><%= current_user.summoner_name%></h3>
	<h6>Niveau : 150</h6>
	<p><%= form.label :description_ %>
          <%= form.text_field :description, class:"textedit"%>
</p>
	<div class="buttons">
		<button class="primary">
			Messdsdsdsdsage
		</button>
		<button class="primary ghost">
			Following
		</button>
	</div>
	<div class="skills">
		<h6>Skills</h6>
		<ul>
			<li>UI / UX</li>
			<li>Front End Development</li>
			<li>HTML</li>
			<li>CSS</li>
			<li>JavaScript</li>
			<li>React</li>
			<li>Node</li>
		</ul>
	</div>
</div>

<footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created this
		<a target="_blank" href="https://florin-pop.com/blog/2019/04/profile-card-design">here</a>
		- Design made by
		<a target="_blank" href="https://dribbble.com/shots/6276930-Profile-Card-UI-Design">Ildiesign</a>
	</p>
</footer>

</section>
  <%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> interdit à cet utilisateur d'être enregistré:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>   

      <div class="field">
        <%= form.label :summoner_name %>
        <%= form.text_field :summoner_name, class:"textedit" %>
      </div>
      
    <div class="actions">
    <%= form.submit "Test", class:"input-send" %>
  </div>
  
 
 
<% end %>


<%= render 'user_game_stats/form', user_game_stat: @user_game_stat%>





  
