<div class="user-content">
<p id="notice"><%= notice %></p>
<div class="profil-title">
<h1>Profil</h1>
</div>
	<h6><div class="fieldedit">    
          <%= form.label :Niveau %><br>
          <%= form.number_field :level, class:"textedit" %>
        </div></h6>
	<p>
    <div class="fieldedit">
          <%= form.label :description_ %><br>
          <%= form.text_field :description, class:"texteditd"%>
       </div>  
  
       <div class="fieldedit">
          <%= form.label :premier_rôle %><br>
          <%= form.select :primary_role, ["Top-lane", "Mid-lane", "Bot-lane Support", "Bot-lane ADC", "Jungle"]%>
      </div>
      <div class="fieldedit">
            <%= form.label :Rôle_secondaire %><br>
            <%= form.select :secondary_role, ["Top-lane", "Mid-lane", "Bot-lane Support", "Bot-lane ADC", "Jungle"]%>
      </div>

     

       
        
</p>
	<div class="buttons">
		<div class="actions">
    <%= form.submit "Mettre à jour", class:"input-send" %>
    
  </div>
	
	</div>
	<div class="skills">
		<h6>Champions joués</h6>
		<ul>
			<li>Mundo</li>
			<li>Jax</li>
			<li>Irelia</li>
			
		</ul>
	</div>
</div>
<% end %>

</section>
</div>
</div>
          
<div class="user-info">
         
    <h3 class="title"><%= @user.email %></h3><br>
    <h3>Nom d'invocateur : LeRatDégout</h3><br>
    <h4>Role principal : Jungle</h4><br>
    <h4>Role secondaire : Mid-lane</h4><br>
    <h5>Description : Joueur main jungle, au jeu plutôt agressif, recherche un solo laner pour try hard la Solo Q ! Bonne humeur et entende cordiale !</h5>

</div>        

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>