<div class="main-wrapper" id="landing_page-focus">

    <div class="main-head">
        <h1 class="title">Édite ton profil</h1>
    </div>

    <div class="main-content-edit-profile">

        <div class="form-grid">        
        
            <div class="form-content">

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

                    <div class="container-devise">

                        <div class="devise-field">
                            <div class="title">
                                <%= f.label :email %>
                            </div>                        
                            <%= f.email_field :email, autocomplete: "email", class:"input inset" %>
                        </div>

                        <div class="devise-field">
                            <div class="title">
                                <%= f.label :Mot_de_passe_actuel %>
                            </div>                        
                            <%= f.password_field :current_password, autofocus: true, autocomplete: "current-password", class:"input inset" %>
                        </div>

                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                            <div>Actuellement en train d'attendre: <%= resource.unconfirmed_email %></div>
                        <% end %>

                        <div class="devise-field">
                            <div class="title">
                                <%= f.label :Nouveau_mot_de_passe %>
                            </div>                            
                            <%= f.password_field :password, autocomplete: "new-password", placeholder: "#{@minimum_password_length} caractères minimum", class:"input inset" %>
                            <!--<% if @minimum_password_length %>
                            <div class="infos">
                                <%= @minimum_password_length %> caractères minimum.
                            </div>                        
                            <% end %> -->
                        </div>

                        <div class="devise-field">
                            <div class="title">
                                <%= f.label :Confirmation %>
                            </div>                        
                            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "#{@minimum_password_length} caractères minimum", class:"input inset" %>
                        </div>
                    
                    </div>                    

                    <%= f.submit "Mettre à jour", class:"input-send" %>

                    <%= render "devise/shared/error_messages", resource: resource %>
       
                <% end %>

            </div>

            <div class="form-cta-bottom">
                <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" },class:"btn-danger", method: :delete %></p>
            </div>

        </div>

    </div>

</div>







