
<div class="form-container">
<div class="title-container">
<section id="editprofile">
<div class="card-container">
<h2>Editer vos informations</h2>
<br/>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"textedit" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Actuellement en train d'attendre: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"textedit" %>
    <% if @minimum_password_length %>
      <br />
      <em>(<%= @minimum_password_length %> caractères minimum)</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"textedit" %>
  </div>

  <div class="field">
    <%= f.label :current_password %><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:"textedit" %>
  </div>

    <%= f.submit "Mettre à jour", class:"input-send" %>
<% end %>

<h3>Supprimer mon compte</h3>

<p>Déçu? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, class:"input-send-danger", method: :delete %></p>

</div>
</div>

