
<div class="edit">

<%= form_with(model: user_game_stat, local: true) do |form| %>


	<p>
    <div class="fieldedit">
          <%= form.label :description_ %><br>
          <%= form.text_field :description, class:"texteditd"%>
       </div>  
  
       <div class="fieldedit">
          <%= form.label :premier_rôle %><br>
          <%= form.select :primary_role, ["Top-lane", "Mid-lane", "Bot-lane Support", "Bot-lane ADC", "Jungle"]%>
      </div>
      <div class="fieldedit">
            <%= form.label :Rôle_secondaire %><br>
            <%= form.select :secondary_role, ["Top-lane", "Mid-lane", "Bot-lane Support", "Bot-lane ADC", "Jungle"]%>
      </div>      
</p>

	<div class="buttons">
		<div class="actions">
    <%= form.submit "Mettre à jour", id:"btn-edit-profile", class:"input-send" %>
    
  </div>
	
	</div>
	
</div>
<% end %>

</section>
</div>
</div>
          