<%= form_with(model: user_game_stat, local: true) do |form| %>

            <div class="devise-field span-2">
                  <div class="title">
                        <%= form.label :description %>
                  </div>                        
                  <%= form.text_field :description, class:"input inset span-2" %>
            </div>

            <div class="devise-field">
                  <div class="title">
                        <%= form.label :Rôle_primaire %>
                  </div>                        
                  <%= form.select :primary_role, ["Top-lane", "Mid-lane", "Bot-lane Support", "Bot-lane ADC", "Jungle"]%>
            </div>

            <div class="devise-field">
                  <div class="title">
                        <%= form.label :Rôle_secondaire %>
                  </div>                        
                  <%= form.select :secondary_role, ["Top-lane", "Mid-lane", "Bot-lane Support", "Bot-lane ADC", "Jungle"]%>
            </div>

      </div>

      <%= form.submit "Mettre à jour", class: "input-send" %> 

<% end %>

