<p id="notice"><%= notice %></p>

<h1>Stats joueur/h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_game_stats.each do |user_game_stat| %>
      <tr>
        <td><%= link_to 'Show', user_game_stat %></td>
        <td><%= link_to 'Edit', edit_user_game_stat_path(user_game_stat) %></td>
        <td><%= link_to 'Destroy', user_game_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Game Stat', new_user_game_stat_path %>
