<<<<<<< HEAD
<main id="conversation-focus">

=======
<main>
>>>>>>> b0defd9df79b004a18e815428c8b2e34ace2ddbb
    <div class="main-wrapper">
        <div class="main-head">
            <h1 class="title">Conversations</h1>
        </div>
<<<<<<< HEAD

        <div class="main-content-conversations">

            <p id="notice"><%= notice %></p>

            <table>
            <thead>
                <tr>
                <th colspan="3"></th>
                </tr>
            </thead>

            <tbody>
                <% @conversations.each do |conversation| %>
                <tr>
                    <td><%= link_to 'Show', conversation %></td>
                    <td><%= link_to 'Edit', edit_conversation_path(conversation) %></td>
                    <td><%= link_to 'Destroy', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
                <% end %>
            </tbody>
            </table>

            <br>

            <%= link_to 'New Conversation', new_conversation_path %>


        </div>

=======
>>>>>>> b0defd9df79b004a18e815428c8b2e34ace2ddbb
    </div>
</main>

<aside>
    <%= render "aside" %>
</aside>
