<<<<<<< HEAD



<% @conversations.each do |conversation| %>
    

            <div>
                  
              <p><img src="https://pbs.twimg.com/profile_images/1401562839614210052/yo9BeNMD_400x400.jpg"></p> 
              <p> <h4 class="name">Karim Benzema</h4></p>
              <p><%= link_to 'Show', conversation %></p>
              <p><%= link_to 'Destroy', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </div>



    <% end %>




<%= link_to 'New Conversation', new_conversation_path %>
=======
<main>

    <div class="main-wrapper">

        <div class="main-head">
            <h1 class="title">Conversations</h1>
        </div>

        <div class="main-content">

            <p id="notice"><%= notice %></p>

            <table>
            <thead>
                <tr>
                <th colspan="3"></th>
                </tr>
            </thead>

            <tbody>
                <% @conversations.each do |conversation| %>
                <tr>
                    <td><%= link_to 'Show', conversation %></td>
                    <td><%= link_to 'Edit', edit_conversation_path(conversation) %></td>
                    <td><%= link_to 'Destroy', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
                <% end %>
            </tbody>
            </table>

            <br>

            <%= link_to 'New Conversation', new_conversation_path %>


        </div>

    </div>

</main>

<aside>
    <%= render "aside" %>
</aside>
>>>>>>> 35a5dbd5caa85f352424e5892aac4775533441af
