<div class="main-wrapper" id="conversation-focus">
    <div class="main-head">
        <h1 class="title">Conversations</h1>
    </div>
    <div class="main-content-conversations">
        <div class="conversation-left">
            
            <%  @conversations.reverse_each do |conversation| %>
                <a href="<%=conversation_path(conversation.id)%>" class="conversation-focus">
                    <div class="conversation-name">
                        <div class="user-photo">
                        
                            <%if conversation.participant_a.id == current_user.id%>
                                <%=conversation.participant_b.summoner_name[0]%>
                            <%else%>
                                <%=conversation.participant_a.summoner_name[0]%>
                            <%end%>
                        </div>
                        <div class="user-info">
                            <h4 class="name">
                                <%if conversation.participant_a.id == current_user.id%>
                                    <%=conversation.participant_b.summoner_name%>
                                <%else%>
                                    <%=conversation.participant_a.summoner_name%>
                                <%end%>
                            
                            </h4>
                            <div class="last-message">
                            
                                <div class="content"><%= @content %></div> 
                                <div class="time"><%=@time_ago %> </div> 
                            </div>
                        </div>
                    </div>
                </a>
            <%end%>
            
        </div>
        <div class="conversation-right">
            <div class="conversation-head-mask">
                <div class="conversation-head inset">  
                            
                    <h3 class="conversation-title">
                        <%if @current_conversation.participant_a.id == current_user.id%>
                            <%=@current_conversation.participant_b.summoner_name%>
                        <%else%>
                            <%=@current_conversation.participant_a.summoner_name%>
                        <%end%>
                    </h3>
            
                    <ul>
                        <li class="head-icons">
                            <svg class="icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>Iconly/Light/Add User</title>
                                <g id="Iconly/Light/Add-User" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                    <g id="Add-User" transform="translate(2.000000, 2.000000)" stroke="var(--medium-grey-color)" stroke-width="1.5">
                                        <path d="M7.8766,13.2062 C4.0326,13.2062 0.7496,13.7872 0.7496,16.1152 C0.7496,18.4432 4.0126,19.0452 7.8766,19.0452 C11.7216,19.0452 15.0036,18.4632 15.0036,16.1362 C15.0036,13.8092 11.7416,13.2062 7.8766,13.2062 Z" id="Stroke-1"></path>
                                        <path d="M7.8766,9.8859 C10.3996,9.8859 12.4446,7.8409 12.4446,5.3179 C12.4446,2.7949 10.3996,0.7499 7.8766,0.7499 C5.3546,0.7499 3.30957019,2.7949 3.30957019,5.3179 C3.3006,7.8319 5.3306,9.8769 7.8456,9.8859 L7.8766,9.8859 Z" id="Stroke-3"></path>
                                        <line x1="17.2037" y1="6.6691" x2="17.2037" y2="10.6791" id="Stroke-5"></line>
                                        <line x1="19.2496" y1="8.674" x2="15.1596" y2="8.674" id="Stroke-7"></line>
                                    </g>
                                </g>
                            </svg>                            
                        </li>
                        <li class="head-icons">
                            <svg class="icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>Iconly/Light/More Square</title>
                                <g id="Iconly/Light/More-Square" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                    <g id="More-Square" transform="translate(2.000000, 2.000000)" stroke="var(--medium-grey-color)">
                                        <path d="M14.3342,0.7501 L5.6652,0.7501 C2.6442,0.7501 0.7502,2.8891 0.7502,5.9161 L0.7502,14.0841 C0.7502,17.1111 2.6342,19.2501 5.6652,19.2501 L14.3332,19.2501 C17.3642,19.2501 19.2502,17.1111 19.2502,14.0841 L19.2502,5.9161 C19.2502,2.8891 17.3642,0.7501 14.3342,0.7501 Z" id="Stroke-1" stroke-width="1.5"></path>
                                        <line x1="13.9394" y1="10.013" x2="13.9484" y2="10.013" id="Stroke-11" stroke-width="2"></line>
                                        <line x1="9.9304" y1="10.013" x2="9.9394" y2="10.013" id="Stroke-13" stroke-width="2"></line>
                                        <line x1="5.9214" y1="10.013" x2="5.9304" y2="10.013" id="Stroke-15" stroke-width="2"></line>
                                    </g>
                                </g>
                            </svg>
                        </li>
                    </ul>
                </div>
            
            </div>

            <div class="conversation-content">                
                
                <% @messages.sort.reverse.each do |message| %>  
                    <% if message.user_id == current_user.id %>
                        <div class="message message-send"><%=message.content%></div>                    
                    <% else %>
                        <div class="message message-received"><%=message.content%></div>                    
                    <%end%>
                <%end%>

                <p class="conversation-date"><%=@current_conversation.created_at.strftime( "%d/%m/%Y %H:%M")%></p>

            </div>

            <div class="conversation-send-mask">

                <div class="conversation-send inset">
                    <%=render "messages/form"%>                    
                </div>   
                         
            </div>  

        </div>
    
    </div>
</div>









