<div class="main-content-edit-profile">

    <div class="form-grid">
    
        <div class="form-content">

            <%= form_with(model: user, local: true) do |form| %>

                <div class="container-devise">

                    <div class="devise-field">
                        <div class="title">
                            <%= form.label :Nom_dinvocateur %>
                        </div>                        
                        <%= form.text_field :summoner_request, autofocus: true, class:"input inset" %>
                    </div>

                    <div class="devise-field">
                        <div class="title">
                            <%= form.label :Mon_style_de_jeu %>
                        </div>                        
                        <%= form.select :tag_list, ["Relax", "Peer-Gaming", "Try-Hard"]%>
                    </div>

                    <%begin%>
                    <%= form.hidden_field :user_game_stat_id, value: @user_game_stat.id %>
                    <%rescue%>      
                    <%end%>

                    <div class="devise-field span-2">
                        <div class="title">
                              <%= form.label :description %>
                        </div>                        
                            <%= form.text_field :description, class:"input inset span-2" %>
                    </div>

                    <div class="devise-field">
                          <div class="title">
                                <%= form.label :Rôle_primaire %>
                          </div>                        
                          <%= form.select :primary_role, ["Top-lane", "Mid-lane", "Bot-lane Support", "Bot-lane ADC", "Jungle"]%>
                    </div>

                    <div class="devise-field">
                          <div class="title">
                                <%= form.label :Rôle_secondaire %>
                          </div>                        
                          <%= form.select :secondary_role, ["Top-lane", "Mid-lane", "Bot-lane Support", "Bot-lane ADC", "Jungle"]%>
                    </div>

                </div>

      <%= form.submit "Mettre à jour", class: "input-send" %> 

                    
                <!-- </div> of container-devise ending in render 'user_game_stats/form' -->

                <% if user.errors.any? %>

                    <%= pluralize(@user.errors.count, "error") %> interdit à cet utilisateur d'être enregistré:
                    <ul>
                        <% @user.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>

                <% end %>   

            <% end %>

        </div>

    </div>

</div>




         
        
  
      






 





 






  
