 
  <%= form_with(model: user, local: true) do |form| %>
  <div class="notice-swipe">
  </div> 
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> interdit à cet utilisateur d'être enregistré:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>   


<section id="editprofile">
<div class="card-container">
	<h3>
  <div class="field">
        <%= form.label :Nom_invocateur %><br>
        <%= form.text_field :summoner_name, class:"textedit" %><br>
        <%= form.label :Mon_style_de_jeu %><br>
        <%= form.select :tag_list, ["Relax", "Peer-Gaming", "Try-Hard"]%>
      

        
  </div>
    
    </h3>
  <%begin%>
   <div class="field">
          <%= form.hidden_field :user_game_stat_id, value: @user_game_stat.id %>
        </div>
  <%rescue%>      
  <%end%>
         
        
  
      



  <%= render 'user_game_stats/form', user_game_stat: @user_game_stat%>

  <%end%>

 




 






  
