<div class="head">

    <div class="left">

    	<%begin%>
		<%if current_user.icon_profile_id.nil?%>
		<%else%>
            <div class="profile-img">
                <img src=<%="https://ddragon.leagueoflegends.com/cdn/11.12.1/img/profileicon/#{current_user.icon_profile_id}.png"%>>
            </div>			
		<%end%>
		<%rescue%>
	    <%end%>

        <%begin%>
        <%if @user_game_stat.nil?%>
        <%else%>
            <%if @user_game_stat.level.nil? == false%>
                <div class="level">
                    <h4><%=@user_game_stat.level%></h4>
                </div>                
            <%end%>
        <%end%>
        <%rescue%>	
        <%end%>        
    
    </div>

    <div class="right">

        <div class="summoner-name">
            <h2><%=current_user.summoner_name%></h2>
        </div>        

        <%begin%>
        <%if @user_game_stat.nil?%>
        <%else%>
            <%if @user_game_stat.level.nil? == false%>
                <div class="current-tag">
                    <p><%=current_user.tag_list%></p>
                </div>                
            <%end%>
        <%end%>
        <%rescue%>	
        <%end%>
    
    </div>

</div>




<%begin%>

	<%if @user_game_stat.nil?%>

	<%else%>
		<%if @user_game_stat.level.nil? == false%>
		<h4>Niveau <%=@user_game_stat.level%></h3>
		<p><%=@user_game_stat.description%></p>
		<p><%=current_user.tag_list%></p>
		<p><%=@user_game_stat.primary_role%></p>
		<p><%=@user_game_stat.secondary_role%></p>
		<%end%>
	<%end%>

	<%rescue%>
	
<%end%>




<%begin%>

	<%if @user_game_stat.nil?%>
	<%else%>
		<h6>Champions joués</h6>

		<%=@user_game_stat.first_champion_name%> 
		<img src=<%="https://ddragon.leagueoflegends.com/cdn/11.12.1/img/champion/#{@user_game_stat.first_champion_name}.png"%>>
		<%=@user_game_stat.first_champion_level%> 

		<%=@user_game_stat.second_champion_name%>
		<img src=<%="https://ddragon.leagueoflegends.com/cdn/11.12.1/img/champion/#{@user_game_stat.second_champion_name}.png"%>>
		<%=@user_game_stat.second_champion_level%>

		<%=@user_game_stat.third_champion_name%>
		<img src=<%="https://ddragon.leagueoflegends.com/cdn/11.12.1/img/champion/#{@user_game_stat.third_champion_name}.png"%>>
		<%=@user_game_stat.third_champion_level%>
		
	<%end%>

	<%rescue%>

<%end%>