<%begin%>

	<img src=<%="https://ddragon.leagueoflegends.com/cdn/11.12.1/img/profileicon/#{@user.icon_profile_id }.png"%>>

	<%rescue%>

<%end%>



<%begin%>

	<h3>Niveau <%=@user_game_stat.level%></h3>
	<h3><%=current_user.summoner_name%></h3>
	<p><%=@user_game_stat.description%></p>
	<p><%=@user.tag_list%></p>
	<p><%=@user_game_stat.primary_role%></p>
	<p><%=@user_game_stat.secondary_role%></p>

	<%rescue%>

<%end%>



<%begin%>

	<img src=<%="https://ddragon.leagueoflegends.com/cdn/11.12.1/img/champion/#{@user_game_stat.first_champion_name}.png"%>>
	<p><%=@user_game_stat.first_champion_name%></p>
	<p><%=@user_game_stat.first_champion_level%></p> 


	<img src=<%="https://ddragon.leagueoflegends.com/cdn/11.12.1/img/champion/#{@user_game_stat.second_champion_name}.png"%>>
	<p><%=@user_game_stat.second_champion_name%></p>
	<p><%=@user_game_stat.second_champion_level%></p> 


	<img src=<%="https://ddragon.leagueoflegends.com/cdn/11.12.1/img/champion/#{@user_game_stat.third_champion_name}.png"%>>
	<p><%=@user_game_stat.third_champion_name%></p>
	<p><%=@user_game_stat.third_champion_level%></p> 
	
	<%rescue%>

<%end%>
