<%begin%>

	<%if @user.icon_profile_id.nil?%>

	<%else%>
		<img src=<%="https://ddragon.leagueoflegends.com/cdn/11.12.1/img/profileicon/#{@user.icon_profile_id }.png"%>>
	<%end%>

	<%rescue%>

<%end%>



<%begin%>

	<%if @user_game_stat.nil?%>

	<%else%>
		<h4>Niveau <%=@user_game_stat.level%></h3>
		<p><%=@user_game_stat.description%></p>
		<p><%=@user.tag_list%></p>
		<p><%=@user_game_stat.primary_role%></p>
		<p><%=@user_game_stat.secondary_role%></p>
	<%end%>

	<%rescue%>
	
<%end%>




<%begin%>

	<%if @user_game_stat.nil?%>
	<%else%>
		<h6>Champions joués</h6>

		<%=@user_game_stat.first_champion_name%> 
		<img src=<%="https://ddragon.leagueoflegends.com/cdn/11.12.1/img/champion/#{@user_game_stat.first_champion_name}.png"%>>
		<%=@user_game_stat.first_champion_level%> 

		<%=@user_game_stat.second_champion_name%>
		<img src=<%="https://ddragon.leagueoflegends.com/cdn/11.12.1/img/champion/#{@user_game_stat.second_champion_name}.png"%>>
		<%=@user_game_stat.second_champion_level%>

		<%=@user_game_stat.third_champion_name%>
		<img src=<%="https://ddragon.leagueoflegends.com/cdn/11.12.1/img/champion/#{@user_game_stat.third_champion_name}.png"%>>
		<%=@user_game_stat.third_champion_level%>
		
	<%end%>

	<%rescue%>

<%end%>