<div class="swipe-cards inset">


    <div class="head">

        <div class="user-photo">

            <div class="photo">
                <img src=<%="https://ddragon.leagueoflegends.com/cdn/11.12.1/img/profileicon/#{@user_select.icon_profile_id}.png"%>>
            </div>
            <p><%= @ugs_selected.level%></p>
        
        </div>

        <div class="user-info">
            <h1><%= @user_select.summoner_name %></h1>
            <p><%= @user_select.description %></p>
            <h4><%= @user_select.tag_list%></h4>
        </div>

    </div>


    <div class="content">
    
        <div class="roles">

            <div class="role inset" data-tilt>
                <h4>Rôle principal</h4>
                <% if @user_select.primary_role == "Top-lane" %>
                    <img src="../lol_icons/toplane.png">
                <% elsif @user_select.primary_role == "Mid-lane" %>
                    <img src="../lol_icons/midlaner.png">
                <% elsif @user_select.primary_role == "Bot-lane Support" %>
                    <img src="../lol_icons/support.png" class="small">
                <% elsif @user_select.primary_role == "Bot-lane ADC" %>
                    <img src="../lol_icons/adc.png">
                <% elsif @user_select.primary_role == "Jungle" %>
                    <img src="../lol_icons/jungler.png" class="small">            
                <% end %>
            </div>

            <div class="role inset" data-tilt>
                <h4>Rôle secondaire</h4>
                <% if @user_select.secondary_role == "Top-lane" %>
                    <img src="../lol_icons/toplane.png">
                <% elsif @user_select.secondary_role == "Mid-lane" %>
                    <img src="../lol_icons/midlaner.png">
                <% elsif @user_select.secondary_role == "Bot-lane Support" %>
                    <img src="../lol_icons/support.png" class="small">
                <% elsif @user_select.secondary_role == "Bot-lane ADC" %>
                    <img src="../lol_icons/adc.png">
                <% elsif @user_select.secondary_role == "Jungle" %>
                    <img src="../lol_icons/jungler.png" class="small">            
                <% end %>   
            </div>
        
        </div>

        <div class="best-champs cell inset" data-tilt>

            <div class="champ">
                <div class="img-container">
                    <img src=<%="https://ddragon.leagueoflegends.com/cdn/11.12.1/img/champion/#{@ugs_selected.first_champion_name}.png"%>> 
                </div>                                      
                <h4 class="masteries"><%=@ugs_selected.first_champion_level%></h4>                    
            </div>

            <div class="champ">
                <div class="img-container">
                    <img src=<%="https://ddragon.leagueoflegends.com/cdn/11.12.1/img/champion/#{@ugs_selected.second_champion_name}.png"%>>
                </div>
                <h4 class="masteries"><%=@ugs_selected.second_champion_level%></h4>
            </div>

            <div class="champ">
                <div class="img-container">
                    <img src=<%="https://ddragon.leagueoflegends.com/cdn/11.12.1/img/champion/#{@ugs_selected.third_champion_name}.png"%>>
                </div>
                <h4 class="masteries"><%=@ugs_selected.third_champion_level%></h4>
            </div>
        
        </div>
    
    </div>




    <div class="btn-wrapper"> 

        <div class="cell inset" data-tilt>
            <%= link_to "une autre fois", matches_path(:requestor_id => current_user.id.to_i,:receiver_id => @user_select.id.to_i,:users_tag_list => @user_tag_list, status:false), method: :post,id:'btn-no' %>
        </div>

        <div class="cell inset" data-tilt>
            <%= link_to "je veux jouer avec toi", matches_path(:requestor_id => current_user.id.to_i,:receiver_id => @user_select.id.to_i,:users_tag_list => @user_tag_list, status:true), method: :post,id:'btn-yes'%>
        </div>

    </div>

</div>