<div class="swipe-cards" id="lol">

    <div class="level">    
        <h3><%= @user_select.id %></h3>
    </div>

    <div class="summoner-name">
        <h2><%= @user_select.summoner_name %></h2>
        <h2><%= @user_select.tag_list%></h2>
    </div>

    <div class="description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium corporis deserunt rem consequatur dignissimos veritatis assumenda vero nesciunt libero reiciendis?
    </div>

    <div class="roles">

        <div class="role">
            <div class="role-name">Principal</div>
            <div class="role-icon">
                <img src="lol_icons/lol_icon_adc.png">
            </div>
        </div>

        <div class="separator"></div>

        <div class="role">
            <div class="role-name">Secondaire</div>
            <div class="role-icon">
                <img src="lol_icons/lol_icon_jungler.png">
            </div>        
        </div>
    
    </div>

    <div class="best-champs">

        <h5 class="title">Meilleurs champions</h5>

        <div class="champ-icon">
            <div class="first">W</div>
            <div class="second">G</div>
            <div class="third">E</div>
        </div>
    
    </div>    

</div>

<div class="btn-wrapper"> 

    <span>
        <%= link_to "NON", matches_path(:requestor_id => current_user.id.to_i,:receiver_id => @user_select.id.to_i, status:false), method: :post,id:'btn-no' %>
    </span>
    <span>
        <%= link_to "OUI ", matches_path(:requestor_id => current_user.id.to_i,:receiver_id => @user_select.id.to_i, status:true), method: :post,id:'btn-yes'%>
    </span> 

</div>

