<main id="users-focus">

    <div class="main-wrapper">

        <div class="main-head">
            <h1 class="title">Swipe</h1>
        </div>

        <div class="main-content-swipe">


            <div class="swipe-cards">

                <h2><%= @user_select.summoner_name %></h2>
                <h2><%= @user_select.id %></h2>

                <div class="btn-wrapper">    

                    <span>
                        <%= link_to "NON", matches_path(:requestor_id => current_user.id.to_i,:receiver_id => @user_select.id.to_i, status:false), method: :post,id:'no',remote:true %>
                    </span>

                    <span>
                        <p><%= link_to "OUI ", matches_path(:requestor_id => current_user.id.to_i,:receiver_id => @user_select.id.to_i, status:true), method: :post,id:'yes',remote:true %></p>
                    </span>  

                </div>
      
            </div>

        </div>

    </div>

</main>

<aside>
    <%= render "aside" %>
</aside>