<main>

    <div class="main-wrapper">

        <div class="main-head">
            <h1 class="title">Swipe</h1>
        </div>

        <div class="main-content">



                <div class="swipe-cards">

                    <h1><%= @user_select.summoner_name %></h1>
                    <h3><%= @user_select.id %></h3>
                    <span>
                        <%= link_to "NON", matches_path(:requestor_id => current_user.id.to_i,:receiver_id => @user_select.id.to_i, status:false), method: :post,id:'no',remote:true %>
                    </span>
                    <span>
                        <%= link_to "OUI ", matches_path(:requestor_id => current_user.id.to_i,:receiver_id => @user_select.id.to_i, status:true), method: :post,id:'yes',remote:true %>
                    </span>            

                </div>


        </div>

    </div>

</main>

<aside>
    <%= render "aside" %>
</aside>