<div class="main-wrapper" id="users-focus">

    <div class="main-head">
        <h1 class="title">Swipe</h1>
    </div>

    <div class="main-content-swipe">

        <div class="swipe-card-container">

            <%if @user_select == false %>

                <h1>TU N'AS PLUS DE SWIPE</h1>

            <%else%>

            <%= render "swipe_user_card" %>   

            <%end%>

            <ul class="btn-color-wrapper">
                <li class="color peer-gaming" id="peer-gaming-btn">
                    <%= form_with(url: user_path(current_user.id), method: "patch") do |form|%>
                        <%= form.hidden_field :tag_list, value: "Peer-Gaming" %>
                        <%= form.submit "Peer-Gaming",  class:"input-send" %>
                    <% end %>
                </li>
                <li class="color relax" id="relax-btn">
                    <%= form_with(url: user_path(current_user.id), method: "patch") do |form|%>
                        <%= form.hidden_field :tag_list, value: "Relax"%>
                        <%= form.submit "Relax",  class:"input-send" %>
                    <% end %>
                </li>
                <li class="color tryhard" id="tryhard-btn">
                    <%= form_with(url: user_path(current_user.id), method: "patch") do |form|%>
                        <%= form.hidden_field :tag_list, value: "Try-Hard"%>
                        <%= form.submit "Try-Hard",  class:"input-send" %>
                    <% end %>
                </li>
                
                
                
            </ul>

            <div class="notice-swipe">
                <p id="notice"><%= notice %></p>
            </div>  

        </div>

    </div>

</div>